<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <h2>Estudiantes: </h2>
        <table border="1" cellspacing="0"> 
            <tr>
                <td>Nombre Estudiante</td> 
                <td>Apellido Estudiante</td> 
                <td>Edad Estudiante</td> 
            </tr>
        {% for estudiante in estudiantes %}
        <tr> 
            <td>{{estudiante.nombre}}</td> 
            <td>{{estudiante.apellido}}</td>
            <td>{{estudiante.edad}} años</td>
         </tr>   
        {% endfor %}
        </table>
        <br>
        <h1>Agregar Nuevo Estudiante</h1>
    
        <form action="/estudiantes/create" method="POST">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required><br><br>
            
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" required><br><br>
            
            <label for="edad">Edad:</label>
            <input type="number" name="edad" required><br><br>
            
            <label for="cursos_id">Curso:</label>
            <select name="cursos_id" >
                {%for cursos in cursos%}
               <option value="cursos_id">{{cursos.nombre}}</option>
              {% endfor %}
            </select> <br><br>
            <button type="submit">Agregar Estudiante</button>
          
        </form>
    
        <a href="/cursos">Volver a la lista de cursos</a>
    </html>
</body>
</html>