<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h2>Bienvenido {{usuario.nombre}} {{usuario.apellido}}</h2>
        <nav>
           <h2>Estas en la pagina principal</h2>
               <button><a href="/logout">logout</a></button>
           
        </nav>
    </header>

    <section id="sobrenosotros">
        <h2>Acerca de nuestra plataforma</h2>
        <p>Nuestra pagina es esta fase de desarrollo , pero se vienen cositas :D</p>
    </section>

    <section id="eventos">
        <h2>Nuestros eventuales noticias y eventos gamers</h2>
        <ul>
            <li>Pokemon-Go</li>
            <li>Pokemon-TCG Poket</li>
            <li>Pokemon Championships</li>
            <li>Noticas</li>
        </ul>
    </section>


    <section id="contactenos">
        <h2>Contactenos</h2>
        <p>Si tienes dudas o consultas contactanos a al siguiente correo <a href="powermirsson@email.com">powermirsson@email.com</a>.</p>
    </section>

    <footer>
        <p>&copy; 2024 PowerMirsson. All rights reserved.</p>
    </footer>

</body>

</html>